.container{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.d2{
    width: 100%;
    &:hover{
        animation-name: type;
        animation:  2s;
    }
    
}

.cube-1{
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-top: 10rem;

    .box{
        width: 10rem;
        height: 10rem;
        position: absolute;
        display: grid;
        place-items: center;
        color: white;
        font-size: 2rem;
    }
    .top{
        background-color: green;
        transform: rotate(-45deg) skew(15deg, 15deg)
    }
    .left{
        background-color: red;
        transform: rotate(23deg) skew(20deg, 7deg) translate(-48%, 97%);
    }
    .front{
        background-color: yellow;
        transform: rotate(-20deg) skew(-24deg, -9deg) translate(53%, 97%);

    }
    @keyframes type {
        0% {
          transform: rotateY(0deg) translate(10%);
        }
        100% {
          transform: rotateY(180deg) translate(20%);
        }
      }
    
}

.d3{
    width: 100%;
}
.cube-3d{
    width: 100%;
    height: 500px;
    perspective: 600px;
    position: relative;
    &:hover{

        animation-name: animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}
.cube-2{
    position: relative;
    margin-top: 10rem;
    transform-style: preserve-3d;
    .boxed{
        width: 10rem;
        height: 10rem;
        position: absolute;
        display: grid;
        place-items: center;
        color: white;
        font-size: 2rem;
        border: 1px solid red;
    }
    .one{
        background: rgba($color: #000000, $alpha: 0.8);
        transform: rotateY(0deg) translateZ(70px);
    }
    .two{
        background: rgba($color: red, $alpha: 0.8);
        transform: rotateY(90deg) translateZ(81px);
    }
    
    
    }
    .three{
        background: rgba($color: green, $alpha: 0.8);
        transform: rotateY(180deg) translateZ(100px);
        transform: rotateY(180deg) translateZ(97px);
    }
    .four{
        background-color: rgba(rosybrown,0.5);
        transform: rotateY(-92deg) translateZ(75px);
    }
        
    .five{
        background-color: rgba(yellow, $alpha: 0.8);
        transform: rotateX(90deg) translateZ(80px);
    }
    .six{
        background: rgba(royalblue, 0.8);
        transform: rotateX(-90deg) translateZ(80px);
    }
    @keyframes animation {
        0% {
            transform: rotateY(0deg);
        }
        50%{
            left:100px ;
            transform: rotate(-180deg) translateX(500px);
        }
        100% {
            transform: rotateY(360deg) ;
        }
          
    }
h1{
    font-size: 2rem;
}